header {
    background-color: #0e68c1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
    figure {
        margin: 10px;
        text-align: left;
    }
nav li {

    list-style: none;
    display: inline;
    text-decoration-color: #02060a;
    margin-right: 15px;
}
nav li a {
    
    text-decoration: none;
    color: white;
    font-weight: bold;

}
nav li a:hover {

    color: rgb(255, 174, 0);
}
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
section h2 {
    color: #02060a;
    background-color: #0e68c1;;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
    border-radius: 5px;
}
section h3 {
    color: #02060a;
    margin-bottom: 10px;
    text-align: left;
}
figure {
    text-align: center;
    margin: 20px;
    width: auto;
}
figcaption {
    font-style: italic;
    margin-bottom: 20px;
    color: black;
}